In [10]:
import pandas as pd
import json
import numpy as np
import re

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [11]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
# Get the sheet names.
crowdfunding = pd.read_csv("backer_info.csv")
# crowdfunding.sheet_names

In [12]:
# Iterate through the backers DataFrame and convert each row to a dictionary.

    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    
    # Append the list of values for each row to a list. 
    

# Print out the list of values for each row.

In [13]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists.

In [14]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [15]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
crowdfunding_df = pd.read_csv("backer_info.csv")
crowdfunding_df.head(20)

                                                                                            backer_info
0          {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1          {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2            {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3    {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4                 {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}
5             {"backer_id": "lh382", "cf_id": 563, "name": "Lambert Huber", "email": "lhuber@live.com"}
6                {"backer_id": "em444", "cf_id": 563, "name": "Emmy Morin", "email": "emorin@live.com"}
7            {"backer_id": "at582", "cf_id": 1572, "name": "Armonda Trani", "email": "atrani@live.com"}
8             {"backer_id": "id772", "cf_id": 1911, "name": "Ilana Duke", "email": "iduke@outlook.com"}
9             {"backer_id": "lw275", "cf_id": 65, "name": "Leigha Wright", "email": "lwright@live.com"}
10              {"backer_id": "ub509", "cf_id": 65, "name": "Uwe Becker", "email": "ubecker@yahoo.com"}
11               {"backer_id": "ha915", "cf_id": 1572, "name": "Hawa Audy", "email": "haudy@gmail.com"}
12             {"backer_id": "bb881", "cf_id": 968, "name": "Bia Bonura", "email": "bbonura@yahoo.com"}
13      {"backer_id": "mg332", "cf_id": 65, "name": "Michel Garner", "email": "mgarner@protonmail.com"}
14             {"backer_id": "kd700", "cf_id": 1572, "name": "Karole Dunn", "email": "kdunn@yahoo.com"}
15     {"backer_id": "as695", "cf_id": 563, "name": "Arndt Schreiber", "email": "aschreiber@yahoo.com"}
16     {"backer_id": "iv513", "cf_id": 65, "name": "Imen Villeneuve", "email": "ivilleneuve@yahoo.com"}
17    {"backer_id": "ab842", "cf_id": 65, "name": "Alcina Bonadonna", "email": "abonadonna@yandex.com"}
18  {"backer_id": "re181", "cf_id": 1114, "name": "Raelene Espinoza", "email": "respinoza@outlook.com"}
19            {"backer_id": "kn133", "cf_id": 65, "name": "Kati Nash", "email": "knash@protonmail.com"}

In [16]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".

crowdfunding_df['backer_id'] = crowdfunding_df['backer_info'].str.extract(r'(\D{2}\d{3})')
crowdfunding_df.head()

,backer_info,backer_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506

In [17]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".
# crowdfunding_df['cf_id'] = crowdfunding_df['backer_info'].str.extract(r'(\d{2,4})')
# crowdfunding_df.head()

crowdfunding_df['cf_id'] = crowdfunding_df['backer_info'].str.extract(r'\s(\d+\d)')
crowdfunding_df.head()

,backer_info,backer_id,cf_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563

In [19]:
# Extract the name from the backer_info column and add it as a new column called "name".
crowdfunding_df['name'] = crowdfunding_df['backer_info'].str.extract(r'([A-Za-z]+\s+[A-Za-z]+)')
crowdfunding_df.head()

,backer_info,backer_id,cf_id,name
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968,Angelo Vincent
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563,Hubert Arnold
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65,Loris Goulet
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563,Teodora Brunelli
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563,Lexie Hunt

In [20]:
# Extract the email from the backer_info column and add it as a new column called "email".
crowdfunding_df['email'] = crowdfunding_df['backer_info'].str.extract(r'"(\S+@\S+)"}')
crowdfunding_df.head()

,backer_info,backer_id,cf_id,name,email
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968,Angelo Vincent,avincent@live.com
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563,Hubert Arnold,harnold@yandex.com
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65,Loris Goulet,lgoulet@yandex.com
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563,Teodora Brunelli,tbrunelli@outlook.com
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563,Lexie Hunt,lhunt@live.com

In [21]:
# Create a new DataFrame with the appropriate columns.
crowdfunding_col_df = crowdfunding_df[["backer_id","cf_id","name","email"]]
crowdfunding_col_df

     backer_id cf_id              name                  email
0        av166   968    Angelo Vincent      avincent@live.com
1        ha127   563     Hubert Arnold     harnold@yandex.com
2        lg794    65      Loris Goulet     lgoulet@yandex.com
3        tb566   563  Teodora Brunelli  tbrunelli@outlook.com
4        lh506   563        Lexie Hunt         lhunt@live.com
...        ...   ...               ...                    ...
8170     st581    65   Serita Thebault   sthebault@yandex.com
8171     gf637   563   Glenn Foerstner   gfoerstner@yahoo.com
8172     rc983  1114       Robt Collin    rcollin@outlook.com
8173     cz381    65      Corina Zappa     czappa@outlook.com
8174     fg535    65     Freeman Gibbs     fgibbs@outlook.com

[8175 rows x 4 columns]

In [23]:
# Export the DataFrame as a CSV file using encoding='utf8'.
crowdfunding_col_df.to_csv('backers_data.csv', encoding='utf-8', index=False)

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [24]:
# Check data types.
crowdfunding_col_df.dtypes

backer_id    object
cf_id        object
name         object
email        object
dtype: object

In [25]:
# Convert cf_id to an integer if necessary.
crowdfunding_col_df["cf_id"] = crowdfunding_col_df["cf_id"].astype("int")
crowdfunding_col_df.dtypes

/var/folders/3g/z4d2rf150855241yq7jlg2yh0000gn/T/ipykernel_17789/1783467408.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crowdfunding_col_df["cf_id"] = crowdfunding_col_df["cf_id"].astype("int")

backer_id    object
cf_id         int64
name         object
email        object
dtype: object

In [26]:
# Split the "name" column into "first_name" and "last_name" columns.
crowdfunding_col_df[["first_name","last_name"]] = crowdfunding_col_df["name"].str.split(' ', n=1, expand=True)
crowdfunding_col_df.head()

,backer_id,cf_id,name,email,first_name,last_name
0,av166,968,Angelo Vincent,avincent@live.com,Angelo,Vincent
1,ha127,563,Hubert Arnold,harnold@yandex.com,Hubert,Arnold
2,lg794,65,Loris Goulet,lgoulet@yandex.com,Loris,Goulet
3,tb566,563,Teodora Brunelli,tbrunelli@outlook.com,Teodora,Brunelli
4,lh506,563,Lexie Hunt,lhunt@live.com,Lexie,Hunt

In [27]:
#  Drop the name column
crowdfunding_df_clean = crowdfunding_col_df.drop(['name'], axis=1)
crowdfunding_df_clean.head()

  backer_id  cf_id                  email first_name last_name
0     av166    968      avincent@live.com     Angelo   Vincent
1     ha127    563     harnold@yandex.com     Hubert    Arnold
2     lg794     65     lgoulet@yandex.com      Loris    Goulet
3     tb566    563  tbrunelli@outlook.com    Teodora  Brunelli
4     lh506    563         lhunt@live.com      Lexie      Hunt

In [28]:
new_crowdfunding_df = crowdfunding_df_clean[["backer_id", "cf_id", "first_name", "last_name", "email"]]
new_crowdfunding_df.head()

  backer_id  cf_id first_name last_name                  email
0     av166    968     Angelo   Vincent      avincent@live.com
1     ha127    563     Hubert    Arnold     harnold@yandex.com
2     lg794     65      Loris    Goulet     lgoulet@yandex.com
3     tb566    563    Teodora  Brunelli  tbrunelli@outlook.com
4     lh506    563      Lexie      Hunt         lhunt@live.com

In [29]:
new_crowdfunding_df.to_csv('backers.csv', encoding='utf-8', index=False)